@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Twitter and IMDB Extension</h1>
    <h7>A website where brutally honest people talk about movies and actors</h7>
</div>
<div>
    <img id="twitterBird" src="https://assets.stickpng.com/thumbs/580b57fcd9996e24bc43c53e.png" />
    <img id="IMDBLogo" src="https://cdn.freebiesupply.com/images/large/2x/imdb-logo-transparent.png" ; />
    <img id="twitterBird1" src="https://assets.stickpng.com/thumbs/580b57fcd9996e24bc43c53e.png" />
    <img id="IMDBLogo1" src="https://cdn.freebiesupply.com/images/large/2x/imdb-logo-transparent.png" ; />
</div>
