@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Twitter and IMDB Extension</h1>
    <h7>A website where brutally honest people talk about movies and actors</h7>
</div>